asttokens==2.1.0
attrs==22.1.0
autopep8==2.0.0
backcall==0.2.0
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.0.4
executing==1.2.0
fonttools==4.38.0
iniconfig==1.1.1
ipykernel==6.17.1
ipython==8.6.0
jedi==0.18.1
jupyter_client==7.4.7
jupyter_core==5.0.0
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.23.4
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.4
pluggy==1.0.0
prompt-toolkit==3.0.32
psutil==5.9.4
pure-eval==0.2.2
pycodestyle==2.9.1
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pywin32==305
PyYAML==6.0
pyzmq==24.0.1
six==1.16.0
stack-data==0.6.1
tomli==2.0.1
tornado==6.2
traitlets==5.5.0
wcwidth==0.2.5
yaecs==1.0.2
